a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

.social-container {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
}

.footer{
  color: white;
}

.footerRound{
  background-color: white;
  border-radius: 010px;
}

.mb-3 space{
  margin-bottom: 0px;
}

.footerContainer{
  padding-top: 16px;
  padding-bottom: 16px;
}